/***************general*******************/
body {
  font-family: 'Times New Roman', times, serif;
  font-size: 100%;
}

i span {
  display: none;
}

img[src="images/tnyt-logo.png"] {
  width: 195px;
  height: 26px;
}

h1 {
  max-width: 600px;
  font-size: 2em;
  font-style: italic;
  font-weight: 700;
  margin-left: 15%;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #000;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

/*******************header************************/
header {
  padding: 12px 15px 3px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: 2px 2px 10px 1px #e2e2e2;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.header-l * {
  float: left;
  padding-right: 30px;
  font-size: 14px;
}

.header-r * {
  font-size: 11px;
  border: 1px solid #326891;
  background-color: #6288a5;
  transition: ease 0.6s;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 12px;
}

.header-r *:hover {
  background-color: #326891;
  transition: ease 0.6s;
}
/*****************end of header******************/
/*****************main section*********************/
.main {
  margin: 120px auto 0 auto;
  width: 945px;
}

.story-header {
  width: 100%;
}

.story {
  width: 600px;
  margin: 0 auto 20px auto;
  line-height: 1.5em;
  color: #333333;
  font-size: 1.2rem;
}

.story p {
  margin-bottom: 20px;
}

figure {
  width: 100%;
}

figure img[src*="cosmos-superJumbo"] {
  width: 945px;
  height: auto;
}

figcaption,
.g-sub {
  color: #666;
  font-size: 0.9rem;
  padding-top: 5px;
  line-height: 1.2rem;
}

.credits,
.small-grey-text {
  font-size: 0.8rem;
  color: #999;
  line-height: normal;
}

.art-meta {
  font-size: 0.9rem;
  margin-top: 25px;
}

.art-meta a {
  text-decoration: underline;
  text-decoration-color: #0003;
}

.art-meta a:hover {
  text-decoration-color: #000;
}

.writer {
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
}

date {
  display: block;
  margin-top: 10px;
  color: #666;
  float: left;
}

.social-r {
  float: right;
}

.social {
  top: 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.social li:nth-child(-n+4):hover {
  background-color: #fff;
  border: 1.5px solid #eeeeef;
}

.social li:nth-child(n+5):hover {
  color: #eeeeef;
}

.social li {
  display: inline-block;
  margin-left: 12px;
}

.social li:nth-child(-n+4) {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #eeeeef;
  text-align: center;
  padding-top: 1px;
}

.social li:nth-child(n+5) {
  font-size: 1.5em;
  color: #666;
  padding-top: 6px;
}

.art-meta + p {
  clear: both;
  padding-top: 20px;
}

.yt-video {
  width: 600px;
  left: auto;
}

figure + p {
  margin-top: 30px;
}

.cosmos18 {
  width: 630px;
  left: -20px;;
}

.cosmos18 img {
  width: 100%;
}

/***************sections with aside************/
.section-with-aside {
  display: flex;
  justify-content: space-between;
}

.story-with-aside {
  margin-right: 0;
  margin-left: 170px;
}

/****************asides*********************/
aside {
  font-family: Arial, sans-serif;
  width: 130px;
  align-self: center;
}

.aside-title {
  font-size: 0.9rem;
}

.aside-content {
  line-height: 1.1rem;
  padding-left: 10px;
  border-left: 1px solid #9999;
}

aside p {
  font-size: 0.7rem;
  color: #666;
  margin-bottom: 10px;
}

aside img {
  width: 120px;
}

/**********************end of aside***********************/
/**********************theory inflation***********************/
.theory-inflation {
  width: 720px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

.graphics {
  position: relative;
  margin-top: 15px;
}

.graphics img {
  max-width: 100%;
}

.g-text {
  width: 170px;
  font-size: 0.8rem;
  line-height: normal;
  position: absolute;
}

.g-start {
  font-weight: bold;
}

.row-1 {
  top: 19%;
}

.row-2 {
  top: 68%;
}

.col-2 {
  left: 26%;
}

.col-3 {
  left: 52%;
}

.col-4 {
  left: 78%;
}

.author {
  font-size: 0.9rem;
}

.author::before {
  content: "";
  width: 55px;
  border-top: 1px solid #000;
  display: block;
  margin-bottom: 30px;
}
/**********************end of theory of inflation***********************/
/*************************suggestions***********************/

.s-suggestions {
  display: flex;
  margin: 5%;
  line-height: 1.25;
}

.s-titles {
  font-weight: medium;
  font-family: 'Roboto Slab', serif;
  clear: right;
}

.s-right {
  width: 500px;
}

.s-right .s-titles {
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
}

.s-suggestions img {
  width: 272px;
}

.s-left {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

.s-suggestions h2 {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid #000;
}

.s-more,
.s-editors-picks {
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5%;
}

.s-more div,
.s-editors-picks div {
  width: 272px;
  height: 285px;
}

.s-suggestions figure {
  height: 203px;
}

.s-suggestions figcaption {
  float: right;
  font-size: 0.7rem;
  padding: 0;
}

.s-suggestions date {
  font-size: 0.9rem;
}
/**********************end of suggestions***********************/
/*************************sign up div**************************/

.s-signup {
  font-family: Arial, sans-serif;
}

.s-signup > h2 {
  margin-bottom: 3px;
  font-size: 1.1rem;
}

.s-signup > p {
  width: 45%;
  color: rgb(102, 102, 102);
  font-size: 0.9rem;
}

form {
  float: right;
  width: 55%;
  padding-left: 20px;
}

input[type="text"] {
  width: 100%;
  margin-top: 20px;
  height: 34px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  font-weight: bold;
  margin-bottom: 4%;
}

input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
}

.captcha {
  height: 60px;
  max-width: 230px;
  display: flex;
  align-items: center;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;
  border-radius: 2px;
  margin: 4% 0;
}

form input[type="checkbox"] {
  float: left;
  width: 23px;
  height: 23px;
  margin-left: 10px;
  margin-right: 25px;
}

.s-signup label {
  font-size: 0.8rem;
}

button {
  width: 100%;
  height: 34px;
  border: 1px solid rgb(98, 136, 165);
  border-radius: 5px;
  background-color: #fff;
  color: rgb(98, 136, 165);
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 1%;
}

button:hover {
  background-color: rgb(98, 136, 165);
  color: #fff;
}

.s-signup ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.s-signup ul li:nth-child(-n+2) {
  border-right: 1px solid rgb(153, 153, 153);
  padding-right: 5px;
}

/**************************end of signup*******************/
/**********************bottom nav***********************/
nav::before {
  content: "";
  border-top: 2px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  display: block;
  height: 1px;
  margin-bottom: 10px;
}

nav {
  margin: 5% 5% 0 7%;
  font-family: Arial, sans-serif;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-header a {
  color: rgb(98, 136, 165);
  font-size: 0.7rem;
  align-self: flex-end;
}

nav a:hover {
  text-decoration: underline;
}

nav ul li img {
  width: 15px;
  height: auto;
  transform: translateY(2px);
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.bottom-nav ul li:first-of-type {
  font-weight: bold;
  padding-bottom: 15px;
}

.bottom-nav ul li {
  padding-bottom: 7px;
}

.bottom-nav ul:last-of-type {
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 15px;
  margin-right: 5%;
}

.bottom-nav ul:last-of-type li:nth-child(-n+4):not(:first-of-type) {
  font-weight: bold;
  font-size: 0.9rem;
}

.bottom-nav ul:last-of-type li:nth-last-child(-n+5) {
  font-size: 0.6rem;
}

.bottom-nav ul:last-of-type li:nth-last-child(5) {
  margin-top: 20px;
}

.bottom-nav ul:last-of-type li:nth-last-child(2) {
  padding-top: 12px;
  border-top: 0.5px solid #ebebeb;
}

/**********************end of bottom nav***********************/
/********************footer****************/
footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid #ebebeb;
}

footer ul li {
  display: inline-block;
  font-size: 0.7em;
  font-family: Arial, sans-serif;
  padding-left: 10px;
  color: #b8a5b8;
}

footer ul li:first-child {
  padding-left: 0;
}
